#countLabel {
    display: block;
    text-align: center;
    font-size: 12em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#buttonContainer {
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color:darkslategrey;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: darkcyan;
}

#invalidMessage {
    text-align: center;
}